<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="static/css/adminHome.css">
    </head>
    <body>
        <h2>Home Page</h2>
        <form method="POST" action="/adminHome/access">
            <div class="input-group-append">
                <button class="box" type="submit" name="clickBtn" value="manageStudent">Students</button>
                <button class="box" type="submit" name="clickBtn" value="manageCourse">Courses</button>
                <button class="box" type="submit" name="clickBtn" value="manageSkill">Skills</button>
                <button class="box" type="submit" name="clickBtn" value="editAccount">Account</button>
                <button class="box" type="submit" name="clickBtn" value="viewCV">View CV</button>
            </div>
        </form>
        <form method="POST" action="/logout">
            <div class="input-group-append">
                <button class="btn btn-logout" type="submit" value="logout">Logout</button>
            </div>
        </form>
    </body>
</html>